.clear{
	clear: both;
	display: block;
}
.config-form{
	width: 100%;
	height: 800px;
}
/* Left config */
.config-form .config-form-left{
	width: 30%;
	float: left;
}
.config-form .config-form-left .form-row .form-control.btn-save{
	background-color: #00a65a;
	color: #fff;
	width: 120px;
	height: 35px;
	border-radius: 5px;
	margin: 0px auto;
}
.config-form .config-form-left .form-row .form-control.btn-save i{
	margin-right: 10px;
}
.config-form .config-form-left .form-row label::after{
	content: "(*)";
	color: red;
	font-weight: bold;
}

/* END: Left-config */

/* Right-config */
.config-form .element-form{
	margin: 10px 0px 20px 0px;
	width: 100%;
	height: 100px;
}
.config-form .element-form :hover .config-form-right .form-row .box-btn-item{
	display: block;
}
.config-form .config-form-right{
	width: 70%;
	float: right;
}

.config-form .config-form-right form{
	height: 170px;
	margin-bottom: 20px;
	width: 100%;
	background-color: #fff;
	border: 1px solid #fff;
	border-top: 5px solid #ececec;
	border-radius: 5px;
	border-bottom: 2px solid #ececec;
	padding: 10px 0px;
}

.config-form .config-form-right .config-form-right-header{
	margin-left: 20px;
	margin-bottom: 10px;
}
.config-form .config-form-right .config-form-right-header .item{
	color: #fff;
	border-radius: 20%;
	height: 35px;
	width: 35px;
	text-align: center;
	padding: 8px 0px;
	display: inline-block;
}
.config-form .config-form-right .config-form-right-header .item i{
	color: #fff;
}
.config-form .config-form-right .config-form-right-header .item.edit{
	background-color: #f39c12;
	border: 1px solid #f39c12;
}
.config-form .config-form-right .config-form-right-header .item.delete{
	background-color: #dd4b39;
	border: 1px solid #dd4b39;
}
.config-form .config-form-right .config-form-right-header .description{
	text-transform: uppercase;
	font-weight:bold;
	color: #111;
	display: inline;
}
.config-form .config-form-right .config-form-right-header .name_key{
	display: inline;
	color: #111;
}
.config-form .config-form-right .config-form-right-header .name_key::after{
	content: ")";
}
.config-form .config-form-right .config-form-right-header .name_key::before{
	content: "(";
}
/* Textarea */
.config-form .config-form-right .form-row .form-group.col-md-12 text{
	width: 100%;
}
/* Checkbox switch */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
/* BOX button */
.config-form .config-form-right form:hover .form-row .box-btn-item{
	display: block;
	background-color: rgba(17, 17, 17, 0.1);
}
.config-form .config-form-right .form-row .box-btn-item{
	margin: 10px 0px;
	padding: 10px 0px;
	display: none;
}
.config-form .config-form-right .form-row .box-btn-item .btn-item{
	/* margin: 0px 99px; */
	color: #fff;
	height: 30px;
	width: 100px;
	border-radius: 3px;
}
.config-form .config-form-right form:hover .form-row .box-btn-item .btn-item{
}
.config-form .config-form-right .form-row .save{
	margin-left: 32%;
	background-color: #00a65a;
	border: 1px solid #00a65a;
}
.config-form .config-form-right .form-row .cancel{
	background-color: #dd4b39;
	border: 1px solid #dd4b39;
}
/* END: Right-config */